<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap,Roboto:wght@400;700&display=swap"
            rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/stylesheets/styleHeader.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/js/mobileNavMenu.js"></script>
        <title>Ferretería Hernandez</title>
    </head>
</head>

<body>

    <%- include('./partials/header') %>

    <main class="productosContainer">
        <% for (var product of products) { %>
        <div class="cardContainter shadow1">
            <div class="cardMainSectionContainer">
                <a class="cardImgContainer" href="#">

                    <% if (typeof product.imagenesproductos[0] !== 'undefined' && product.imagenesproductos[0] !== null){ %>
                    <img class="cardImg" src="/images/productos/<%= product.imagenesproductos[0].ruta %>" alt="<%= product.nombre %>">
                    <%}else{%>
                    <img class="cardImg" src="/images/defImage.jpg" alt="<%= product.nombre %>">
                    <%}%>

                    
                </a>

                <div class="cardPriceContainer">
                    <div class="priceCont">
                        <span class="priceSymbol" itemprop="priceCurrency">$</span>
                        <span class="price"><%= toThousand(product.precio) %></span>
            </div>
            <select style="display: none" name="cant" id="prodCant">
                <option>Cantidad</option>
            </select>
            <a href="/products/edit/<%=product.ID%>">
                <input class="btnAddCart" type="submit" value="Modificar producto" class=""> </a>
            <!--<input class="btnAddCart" type="submit" value="Modificar producto" class="">-->
        </div>
        </div>
        <h3 class="prodTitle"><%= slice(product.nombre, 30)  %></h3>
        <ul class="rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star-half-alt"></i></li>
        </ul>
        <div class="desc">
            <span class="desc"><%= slice(product.descripcion, 90) %></span>
        </div>
        </div>
        <% } %>
    </main>

    <!-- <%- include('./partials/footer') %> -->

</body>

</html>